{%  load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

{#<link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}">#}
{#<!-- Latest compiled and minified CSS -->#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{##}
{#<!-- Optional theme -->#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
{##}
{#<!-- Latest compiled and minified JavaScript -->#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>#}
    <title>
        {%  block title %}
Home
        {% endblock title %}
    </title>
</head>



<body>
{# <style> body { background-image  : url(/static/img/map3.jpg) } </style>#}
{#<style> body { background-color  : url(/static/img/map3.jpg) } </style>#}
    <span style="float:right;">
    {% if user.is_authenticated %}
       <ul class="'nav nav-pills nav-justified">

        <li><a href="{% url 'new_livre' %}">Add a new favorite book</a></li>
        <li> <a href="{% url 'genres' %}">See your favorite genres</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
       <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}

    </span>
{% block content %}
{%  endblock content %}


</body>
<footer>
</footer>
</html>


</body>
<footer>
   <p>Copyright</p>
</footer>
</html>