{%  extends 'base_template.html' %}
{% load staticfiles %}

{%  block content %}
    <div id="genre-background">
        <h1>
    Look at the best travel books for your next trip
        </h1>

    {% for livre in livres %}
        <div class="book-row">
            <img width='100px' src ="/static/img/{{livre.image}}" /><a href="{% url 'map' livre.id %}">{{ livre.name }}</a> {{ livre.author }}, {{ livre.city }}, {{ livre.country }}
        </div>
    {% endfor %}
</div>
{% endblock content %}

